<%= erb :head %>
<center><h1><%=@name.upcase%></center></br></br></h1>
<h2>Directions:</h2><br>
<form action="/recipe" method="post"> 
<div text-align:justify;><%=@content%></div>
<input type ="hidden" name="recipe" value=<%="\"#{@recipe}\""%>>
<input type="submit" value="Submit">
</form> 
</body>
</html>