<!doctype html>
<html class="no-js" lang="en">
 <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="css/cover.css" />
    <title>Modern Man's Manual | <%=@name%></title>   
</head>
<body>
<center><h1><%=@name.upcase%></center></br></br></h1>
<h2>Directions:</h2><br>
<form action="/recipe" method="post"> 
<div text-align:justify;><%=@content%></div>
<input type ="hidden" name="recipe" value=<%="\"#{@recipe}\""%>>
<input type="submit" value="Submit">
</form> 
</body>
</html>