<%= erb :head %>

<div id="letter_text">
<center><div class="hi"><div class="cornsilk"><%=@name.upcase%></div></div></br></center>
<div class="cornsilk">
<img src=<%=@editor_image%> class="textwrap" height="200" width="200"><p><br><br>Dear Reader,<br><br><%=@content%></p>
<b><br>-Yours Truly,<br>
DJ Alex St. Cloud<br>
Editor in Chief<br>
alex@modernmanmanual.com</b>
</div>
	</body>
</html>
