<%= erb :head %>

<div id="letter_text">
<center><div class="hi"><div class="cornsilk"><h2><%=@name.upcase%></div></div></br></center>
<div class="cornsilk" style="height:100%; width:100%">
<center><img src=<%=@content[0]%> height="200" width="200"><%=@content[1]%></center>
</div>
</div>
</body>
</html>